container {
	display: inline-block;
	background: #ff00ff;
}

row {
	display: block;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	font-size: 0;
}

golden {
	display: inline-block;
	width: 48px;
	height: 64px;
	margin-left: 6px;
	margin-right: 6px;
	background: url("../img/golden-active.png");
}

golden.winged {
	display: inline-block;
	width: 144px;
	height: 64px;
	margin-right: 40px;
	background: url("../img/winged-golden-active.png");
}

moon {
	display: inline-block;
	width: 144px;
	height: 64px;
	margin-left: 15px;
	margin-right: 25px;
	background: url("../img/moon-active.png");
}
